// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
  @include ref-height();
  @include ref-width();
  @include clearfix();

  .left-container {
    @include ref-height();
    background-color: $left-base;
    color: $white;
    width: 300px;
    float: left;

    #user-info-box {
      background-color: #253141;
      font-size: 16px;
      font-weight: bold;
      height: 100px;
      padding: 0 20px;
      position: relative;

      &__name {
        position: absolute;
        top: 50%;
        margin: -0.5em 0;
      }

      &__icon-wrapper {
      position: absolute;
      top: 50%;
      margin: -0.5em 20px -0.5em 210px;
        .fa {
          color: $white;
        }
      }
    }

    #group-wrapper {
      background-color: $left-base;
      height: calc( 100vh - 100px );
      min-height: 600px;
      overflow: auto;

      #group-box {
        background-color: $left-base;
        padding: 20px;

        &__name {
          font-size: 15px;
          padding-bottom: 5px;
        }
        &__message {
          font-size: 11px;
        }
      }

      #group-box a {
        color: $white;
        text-decoration: none !important;
      }
    }
  }

  .right-container {
    @include ref-height();
    background-color: lighten($right-base, 30%);
    width: calc(100vw - 300px);
    min-width: 900px;
    float: right;
    position: relative;

    #group-info-box {
      background-color: lighten($right-base, 50%);
      border-bottom: solid #eeeeee;
      height: 100px;
      padding: 0 40px;

      &__name {
        color: #333333;
        font-size: 20px;
        padding-top: 35px;
      }

      &__member {
        color: $right-subinfo;
        font-size: 12px;
        padding-top: 15px;
      }

      &__edit-btn {
        background-color: lighten($right-base, 50%);
        border : solid $mainBlue 2px;
        color: $mainBlue;
        height: 40px;
        padding: 0 20px;
        text-align: center;
        line-height: 40px;
        position: absolute;
        top: 28px;
        right: 40px;
      }
    }

    #message-box {

      &__sender {
        font-size: 16px;
        font-weight: bold;
        padding: 40px 40px 0;
      }

      &__datetime {
        color: $right-subinfo;
        font-size: 12px;
        padding-left: 10px;
      }

      &__content {
        font-size: 14px;
        padding: 10px 40px 0 40px;
      }
    }

    #texting-box {
      background-color: lighten($right-base, 20%);
      height: 90px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;

      &__input {
        border-style: none;
        font-size: 16px;
        padding-left: 10px;
        height: 50px;
        width: calc(100vw - 495px);
        min-width: 705px;
        position: absolute;
        bottom: 20px;
        left: 40px;
      }

      &__photo-icon {
        position: absolute;
        bottom: 35px;
        right: 155px;
      }

      &__send-btn {
        background-color: $mainBlue;
        border-style: none;
        color: #white;
        height: 50px;
        width: 90px;
        padding: 0 auto;
        text-align: center;
        position: absolute;
        bottom: 20px;
        right: 40px;
      }
    }
  }
}

