.chat-group-form
  %h1 チャットグループ編集
  - if @group.errors.any?
    .chat-group-form__errors
      %h2
        =pluralize(@group.errors.count, "error prohibited this group from being saved:")
      %ul
        - @group.errors.full_messages.each do |msg|
          %li=msg
  #edit_chat_group.edit_chat_group
  = form_for(@group) do |f|

    = render partial: 'group', locals: { f: f }
