#group-box
  = link_to group_messages_path(group.id) do
    #group-box__name
      = group.name
    #group-box__message
      - if group.messages.present?
        = group.messages.last.body
      - else
        = "No message"
