// 共通
@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}


// main-chat.scss用
@mixin ref-height() {
  height: 100vh;
  min-height: 700px;
}

@mixin ref-width() {
  width: 100vw;
  min-width: 1200px;
}

@mixin flash-message {
  @include ref-width;
  color: #fff;
  text-align: center;
}


//group.scss用
@mixin list {
  padding: 15px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
}
